* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $text-primary;
  background: $bg-secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  @include button-reset;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-hover;
    text-decoration: underline;
  }
}
